workerPoolSpecs:
  - machineSpec:
      machineType: n1-highmem-2
    replicaCount: 1
    containerSpec:
      imageUri: europe-west1-docker.pkg.dev/lustrous-stone-484209-p3/test-container-registry/dummy-digits:latest
