name: DVC Data Checker

on:
  pull_request:
    branches:
      - main
    paths:
      - 'data/**'
      - '.dvc/**'

jobs:
  dataset_statistics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          make dev_requirements
          pip install cml

      - name: Pull data with DVC
        run: |
          dvc pull --no-run-cache

      - name: Run dataset statistics
        run: |
          python src/cookie_project/data.py > data_statistics.md
          echo '![](./mnist_images.png "MNIST images")' >> data_statistics.md
          echo '![](./train_label_distribution.png "Train label distribution")' >> data_statistics.md
          echo '![](./test_label_distribution.png "Test label distribution")' >> data_statistics.md

      - name: Setup CML
        uses: iterative/setup-cml@v2

      - name: Comment on PR
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cml comment create data_statistics.md --watermark-title="Data Checker"
