# name: Unit Tests

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

# jobs:
#   test:
#     runs-on: ${{ matrix.operating-system }}
#     strategy:             # <- skal være inde under 'test'
#       fail-fast: false
#       matrix:
#         operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
#         python-version: ["3.12", "3.11"]

#     steps:                # <- også inde under 'test'
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Set up Python
#         uses: actions/setup-python@v6
#         with:
#           python-version: ${{ matrix.python-version }}
#           cache: 'pip'

#       - name: Install dependencies
#         run: |
#           uv sync --dev --locked --file uv.lock
#           uv list



#       - name: Run tests & coverage
#         run: |
#           coverage run -m pytest tests/
#           coverage report -m


name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: |
          uv sync --dev --locked
          uv pip list


      - name: Run tests & coverage (disable W&B)
        env:
          WANDB_MODE: disabled
        run: |
          uv run coverage run -m pytest tests/
          uv run coverage report -m --ignore-errors
